body{
    text-align: center;
    background-image: url("res/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: rgba(61, 109, 240, 0.5);
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.nav_item {
    float: left;
}
  
.nav_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav_item a:hover:not(.active) {
    background-color: #111;
}
  
.active {
background-color: #04AA6D;
}

.bt_link:link, .bt_link:visited {
    background-color: rgba(61, 109, 240, 0.5);
    color: black;
    border: 2px solid rgb(103, 0, 112);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.bt_link:hover, .bt_link:active {
    background-color: rgb(137, 0, 172);
    color: white;
  }

p{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer{
    margin-top: 10%;
}
